/airflow/logs
/airflow/plugins
/airflow/confg
.claude
pg_data
/airflow/config/airflow.cfg
/spark_streaming/jobs/__pycache__
/spark_streaming/__pycache__
/spark_streaming/utils/__pycache__
/data/bronze/clickstream/*
/data/bronze/inventory/*
/data/bronze/orders/*
data/checkpoints/clickstream
data/checkpoints/orders
data/checkpoints/inventory
/event-generator/new_producer.py
/spark_streaming/schemas/__pycache__/*
/dbt_project/data/*
/dbt_project/logs/
/dbt_project/target/
/dbt_project/dbt_packages/*
/.vscode/
/dbt_project/.user.yml
/logs/