/airflow/logs
/airflow/plugins
/airflow/confg
.claude
pg_data
/airflow/config/airflow.cfg
/spark_streaming/jobs/__pycache__
/spark_streaming/__pycache__
/spark_streaming/utils/__pycache__
/data
/event-generator/new_producer.py
/spark_streaming/schemas/__pycache__/*